.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.form-control {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 3px);
}

.logo {
  padding-top: 1rem;
}

.user-inputs {
  margin-bottom: 1rem;
  text-align: center;
}
